#sideNav .navbar-nav .nav-item .nav-link {
 color: #868e96;
 text-align: left; 
}

body {
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Tahoma, sans-serif;

.bg-primary {
  background-color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(105,105,105);
}

#sideNav .navbar-nav .nav-item .nav-link {
  text-align: left;
  padding-left: 3em;
}
  
